<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" style="     margin:0;
   padding:0;">
   <head>
      <!-- If you delete this tag, the sky will fall on your head -->
      <meta name="viewport" content="width=device-width" />
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
      <link href="http://allfont.net/allfont.css?fonts=montserrat-light" rel="stylesheet" type="text/css" />
      <link href="http://allfont.net/allfont.css?fonts=montserrat-hairline" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>Famil.yt</title>
      <link rel="stylesheet" type="text/css" href="stylesheets/email.css" />
   </head>
   <body  >
      <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;background-color:#F5F5F5; font-family: 'Montserrat', 'Helvetica', Helvetica, Arial, sans-serif;" >
         <tbody>
            <tr>
               <td align="center">
                  <table class="head-wrap" style="width:100%;max-width: 600px;">
                     <tbody>
                        <tr>
                           <td class="header container" style="margin:0; padding:0;">
                              <div class="content" style="padding:15px 0px 0px 0px ;max-width:600px;margin:0 auto;">
                                 <table bgcolor="#F5F5F5" style="width: 100%;">
                                    <tbody>
                                       <tr>
                                         <td><img style="width:auto; height:22px;" alt="logo_familyt" src="{{ asset('img/logo_familyt.png') }}" </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <table class="body-wrap" cellpadding="0" cellspacing="0" style="width:100%;margin:0 auto;max-width:600px; padding:0;">
                     <tbody>
                        <tr>
                           <td class="container" style="    ;margin:0;padding:0px;border:1px solid #b8b7bb"  bgcolor="#FFFFFF">
                              <div class="content" style="max-width:598px;display:block; ">
                                 <table style="width: 100%;border-spacing:0px; " >
                                    <tr>
                                       <td cellpadding="0" style="padding:0px;width:100%; background-color:#49a0b5; height:130px;max-height:130px;color:white;" valigne="middle" >
                                          <div  align="center"   border="0"  >
                                             <p style=" font-family: 'Montserrat Light', 'Helvetica', Helvetica, Arial, sans-serif;vertical-align:middle;margin:0px;font-size:28px; width:100%; height:100%;">👨‍👩‍👧‍👦 <br>Rejoignez vite <br>la famille {{ family.name }}<br> </p>
                                             <!-- /hero -->
                                          </div>
                                       </td>
                                    </tr>
                                 </table>
                              </div>
                              <div class="content" style="max-width:598px;display:block; ">
                                 <table style="width: 90%;border-spacing:0px; margin: 10px auto; " >
                                    <tbody>
                                       <tr>
                                          <td>
                                             <div>

											    Bonjour, <br><br>

                                                Vous avez reçu une invitation de la part de {{ sender.firstname }} afin de rejoindre la famille {{ family.name }} sur Famil.yt <br><br> 
                                                Pour accepter cette invitation, rien de plus simple ;) <br> Cliquez sur ce lien, inscrivez-vous en deux clics et le tour est joué ! 
                                                <br>
                                             </div>
                                          </td>
                                       </tr>
                                       <tr>
                                           <td>
                                               <div style='margin-top:30px; text-align:center'>
                                                <a style="background-color:#49a0b5; padding:10px; border-radius:20px;text-decoration:none;color:white;" href="{{ path('acceptInvit',{id: invit.id}) }} ">Accepter l'invitation </a>
                                               </div>
                                        </td>
                                    </tr>
                                    <tr>
                                            <td>
                                                <div>
                                                        <br><br>
                                                A bientôt, 
                                             </div>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <table cellpadding="0" cellspacing="0" width="100%" style="margin:10px auto;max-width:600px; padding:0;" >
                     <tbody>
                        <tr>
                           <td>
                              <div style="position:relative; color:white">
                                 <table  cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                       <tr>
                                          <td align="center">
                                             <p style="height:100%; margin:0px;font-size:25px; width:100%">
                                                 <img src="{{ asset('img/logo_familyt.png') }}" alt="logo" style="height: auto; max-height:22px">                                             </p>
                                             <p style="height:100%; margin:0px;font-size:25px;width:100%; margin-top:10px;">
                                                <a target="_blank" href="https://www.facebook.com/familyt/"><img style="margin-right:20px; max-height:20px;" src="http://agathevousgate.fr/web/img/facebook.png"></a>
                                                <a target="_blank" href="https://www.instagram.com/familyt/"><img style="max-height:20px;" src="http://agathevousgate.fr/web/img/instagram.png"></a>
                                             </p>
                                             <p style="height:100%;color:#696f6f;margin:0px;font-size:10px;width:100%; margin-top:20px;">
                                                2018 <a  target="_blank" href="https://gilbert.famil.yt">Familyt</a> - Tous droits réservés
                                             </p>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
         </tbody>
      </table>
   </body>
</html>
