<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <script src="{{ asset('js/vue.js') }}"></script>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link type="text/css" rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
        <link type="text/css" rel="stylesheet" href="{{ asset('css/base.css') }}"/>
        <link type="text/css" rel="stylesheet" href="{{ asset('css/bootstrap-vue.css') }}"/>
        <link type="text/css" rel="stylesheet" href="{{ asset('css/main.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/font-awesome/css/font-awesome.min.css') }}">
        <link href="{{ asset('js/toastr/build/toastr.css') }}" rel="stylesheet"/>
<script src="{{ asset('js/toastr/toastr.js') }}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


        <link href="https://fonts.googleapis.com/css?family=Khula" rel="stylesheet">
        {#<script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>#}
        <script src="{{ asset('js/bootstrap-vue.js') }}"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script> 
<script src="{{ asset('js/toastr/toastr.js') }}"></script>
<script>
  toastr.options = {
  "positionClass": "toast-top-center",
}
</script>
    </head>
    <header id="navigation">
         <b-navbar toggleable="md" type="dark" variant="info">
            <b-nav-toggle target="nav_collapse"></b-nav-toggle>
            <b-navbar-brand href="" style="min-width:70px;"><img src="{{ asset('img/logo_familyt.png') }}" style="max-height:40px;"></b-navbar-brand>
            {% if app.user %}<b-collapse is-nav id="nav_collapse">
                <b-nav is-nav-bar>
                <b-nav-item-dropdown text="Listes" right>
                    <b-dropdown-item href="{{ path('wishList') }}">Ma liste</b-dropdown-item>
                    <b-dropdown-item href="{{ path('wishListByEmail', {'email': 'mcgilbert51@gmail.com'}) }}">Papa & Maman</b-dropdown-item>
                    <b-dropdown-item v-for="family in families_brother" :href='family.url'>${ family.name }</b-dropdown-item>
                </b-nav-item-dropdown>
                <b-nav-item href="{{ path('expensesList', {event : 1}) }}">Comptes</b-nav-item>
                </b-nav>
                <b-nav is-nav-bar class="ml-auto">
                
                <b-nav-item-dropdown right>
                    <template slot="button-content">
                    <em>Mon compte </em>
                    </template>
                    <b-dropdown-item href="{{ path('myProfile') }}">Voir mon profil</b-dropdown-item>
                    <b-dropdown-item href="{{ path('fos_user_security_logout')}}">Se déconnecter</b-dropdown-item>
                </b-nav-item-dropdown>
                
                
                </b-nav>

            </b-collapse>{% endif %}
            </b-navbar>

    </header>
    <body>
        
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
    <footer id="footer">
        <div class="footer">
            <span>
                Made with <i class="fa fa-coffee" aria-hidden="true"></i> &  <i class="fa fa-heart" aria-hidden="true"></i> between Lille & Paris
            </span>
        </div>
    </footer>
    <script>
    var navigation = new Vue({
   delimiters: ['${', '}'],
   el: '#navigation',
   data: {
       families_brother : [{% for family in brother_families %}{% if family %}{ url: "{{path('wishListByEmail', {email: family.admin.email, event: 1})}}", name: "{{family.name}}"}{% if loop.last == false %},{% endif %}{% endif %}{% endfor %}],
   }
    });
    </script>
</html>
